html, body {
    width: 100vw;
    height: 100vh;
    margin-top: 0;
    background: url(https://images.unsplash.com/photo-1481007553706-bde1ba8e91fd?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);
    background-blend-mode: color-burn;
}

#navbar {
    width: 100%;
    height: 90px;
    text-align: center;
    padding: 25px;
    background-color:rgba(5, 13, 255, 0.098);
    font-family: 'Bowlby One SC', cursive;
    font-size: 20px;
    color:rgb(27, 16, 60);
}

#h2 {
    width: 100%;
    height: 20px;
    text-align: center;
    padding: 5px;
    background-blend-mode: color-burn;
    background-color: rgba(5, 105, 255, 0.242);
    font-family: 'Varela Round', sans-serif;
    color: rgb(0, 221, 255);
    
}

#input {
    width:;
    padding: 65px;
    text-align: center;
    background-color: rgba(130, 79, 249, 0.818);
    font-size: 30px;
}

#result {
    width:;
    padding: 45px;
    text-align: center;
    background-color: rgba(207, 112, 247, 0.352);
    min-height: 80px;
    font-family: 'Bowlby One SC';
    font-size: 20px;
}

